body {
    overflow: hidden;
}

.sticky-top {
    z-index: 900;
}

.nav-bar {
    height: 10vh;
}

.nav-item {
    margin-left: 1em;
}

#trip {
    margin: 1em;
}

#trip-plan {
    height: 90vh;
    overflow-y: scroll;
}

#add-participant {
    margin-left: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.participant {
    margin-right: 1em;
}

.btn-sm {
    margin: 0;
    padding: 0;
}

.small-hr {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1.5em;
    padding: 0;
}

.new-event-btn {
    height: 3em;
}